body {
  background-image: url('../images/space.jpg');

  height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}

#navigation,.navbar .navbar-default{
  background-image: url('../images/earthbg.jpg');

  height: 150px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 4px 5px #04080a;
}

.well {
  border-radius: 1%;
}

.transition.ng-enter,
.transition.ng-leave {
  transition: all 1s ease;
}

.transition.ng-enter {
    left: 100%;
}
.transition.ng-enter-active {
    left: 0;
}
.transition.ng-leave {
    left: 0;
}
.transition.ng-leave-active {
    left: -100%;
}
