body {
  background-image: url('../images/space.jpg');

  height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}

#navigation,.navbar .navbar-default{
  background-image: url('../images/earthbg.jpg');

  height: 170px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 4px 5px #04080a;
}

.well {
  border-radius: 1%;
}

.transition {
  position: absolute;
  left: 5;
  top: 10;
  width: 100%;
  height: 100%;
}

.transition.ng-enter,
.transition.ng-leave {
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

.transition.ng-enter {
    left: 100%;
}
.transition.ng-enter-active {
    left: 0;
}
.transition.ng-leave {
    left: 0;
}
.transition.ng-leave-active {
    left: -100%;
}
