body {
  background-image: url('../images/space.jpg');

  height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}

.transition.ng-enter,
.transition.ng-leave {
  transition: all 1s ease;
}

.transition.ng-enter {
    left: 100%;
}
.transition.ng-enter-active {
    left: 0;
}
.transition.ng-leave {
    left: 0;
}
.transition.ng-leave-active {
    left: -100%;
}
